*{
    font-family: 'Belanosima', sans-serif;
    
}
body{
    margin: 0;
    background-color: #79a293;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: 160px repeat(5, 60px);
    background-color: #778683;
    padding: 32px;
    border-radius: 32px;
    -webkit-box-shadow: -3px 7px 32px 5px rgba(0,0,0,0.53);
    -moz-box-shadow: -3px 7px 32px 5px rgba(0,0,0,0.53);
    box-shadow: -3px 7px 32px 5px rgba(0,0,0,0.53);
}
button{
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
    padding: 0px;
    border-radius: 15px;
    border: none;
    background-color: #808181;
    -webkit-box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.43);
    box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.43);
}
button:active{
    background-color: #656767;
}


.col-2{
    grid-column: span 2;
}
.display{
    grid-column: 1 /-1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 15px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    -webkit-box-shadow: inset 0px 0px 5px 8px rgba(87,96,94,1);
    -moz-box-shadow: inset 0px 0px 5px 8px rgba(87,96,94,1);
    box-shadow: inset 0px 0px 5px 8px rgba(87,96,94,1);

    color: antiquewhite;

}

#varlor-actual{
    font-size: 1.5em;
}

#valor-anterior{
    font-size: 2em;
}

